!!!5
%html
  %head
    = stylesheet_link_tag "application"
    %title Halfpixels.com

    %meta{:name => 'apple-mobile-web-app-capable', :content=>'yes'}
    %meta{:name => "apple-mobile-web-app-status-bar-style", :content=>"black"}
    %meta{:name=>"viewport", :content=>"width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = yes"}


    -# = javascript_include_tag "application"
    = csrf_meta_tags

    %link{ href: 'http://fonts.googleapis.com/css?family=Gilda+Display', rel: 'stylesheet', type: 'text/css'}

  %body
    .container
      = render partial: '/layouts/header'
      %section.main= yield
      = render partial: '/layouts/footer'